/* Frame */
.ly-frame{
    min-height: 100vh;
}


/* Header */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 14px;
    flex-wrap: nowrap;
}

.header-logo{
    justify-content: stretch;
    height: auto;
    position: relative;
}

.logo {
    content: '';
    position: absolute;
    top: 15px;
    width: 50px;
    height: auto;
}

.logo-title{
    margin-left: 60px;
}

.menu-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
}

.menu-nav li {
    margin-left: 36px;
}

.menu-nav a {
    color: var(--main-color)
}

.menu-nav a:hover {
    color: var(--hover-color)
}


/* Background Big Color */
.background-big {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.background-big:before{
    content: '';
    background: inherit;
    position: absolute;
    filter: blur(4px) brightness(110%) saturate(50%) sepia(20%);
    background: linear-gradient(white, lightseagreen);
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}


/* Main */
.ly-main{
    width: auto;
}


/* Wrapper */
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4%;
}


/* Footer*/
.ly-footer {
    text-align: center;
    padding: 26px 0;
}

.ly-footer p {
    color: var(--basefont-color);
    font-size: 0.875rem;
}
